header{ 
  background-color:lightpink; 
  text-align: center;
  display: flex;
  justify-content: space-around,;
  justify-content: center;
  nav{
    .container-fluid{
      div{
        div{
        .nav-link{text-decoration: none;
          font-family: 'Kaushan Script', cursive;
          font-style: bold italic;
          color: black;
          font-size: large;

        }
        }

      }
    }
  }
}
