
/*home*/

h1{ text-align: center;
    color: lightpink;
    font-family: 'Kaushan Script', cursive;
    text-shadow: -3px -3px 2px black; }

    


#h3-home{text-align: center;
    color: lightpink;
    font-family: 'Kaushan Script', cursive;
    text-shadow: -3px -3px 2px black;}

/*imagen*/
.imagenpasteleria{width:300px;
            border-radius: 500px; }

            
.section-home{ background-color: lightpink;
        border-radius: 50px;
            display: flex;
            margin-bottom: 20px;
            justify-content: center;}


#h2-home{text-align: center;}



/*imagen*/
.imagenpanaderia{width: 300px;
            height: 200px;
            display: flex;
            justify-content: center;
            border-radius: 500px;}



/*imagen*/
.imagenboxes{width: 300px;
            height: 200px;
            border-radius: 500px;}



#h4footer{color: black;}

