
 /* Nosotros */
/*se rehutilizaron los ID*/

.section-nosotros{
    background-color: lightpink;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#h2-nosotros{
    display: flex;
justify-content: center;
font-family: 'Kaushan Script', cursive;
}


.img-somos{width: 350px;}

.img-vision{width: 350px;}
